* {
  -webkit-font-smoothing: antialiased !important;
  cursor: default !important;
}

html {
  position: relative !important;
  height: 100% !important;
}

.monaco-workbench.border.mac.macos-bigsur-or-newer {
  border-radius: unset !important;
}

#monaco-parts-splash {
  height: 100vh !important;
  width: 100vw !important;
  border-radius: unset !important;
  --window-border-color: transparent !important;
}

.monaco-workbench.border.mac {
  border-radius: unset !important;
}

.monaco-workbench.border:not(.fullscreen) {
  box-sizing: unset !important;
  border: unset !important;
}

#workbench\.parts\.titlebar,
.monaco-workbench.mac .part.titlebar {
  height: 0 !important;
  display: none !important;
}

body
  > div.file-icons-enabled.border.enable-motion.monaco-workbench.mac.chromium.macos-bigsur-or-newer.vs-dark.undefined_publisher-aventura-themes-aventura-zen-json.noauxiliarybar,
body
  > div.file-icons-enabled.border.enable-motion.monaco-workbench.mac.chromium.nopanel.noauxiliarybar.macos-bigsur-or-newer.vs-dark.undefined_publisher-aventura-themes-aventura-zen-json,
body
  > div.file-icons-enabled.border.enable-motion.monaco-workbench.mac.chromium.nopanel.macos-bigsur-or-newer.vs-dark.undefined_publisher-aventura-themes-aventura-zen-json {
  height: 100% !important;
}

body,
body
  > div.file-icons-enabled.border.enable-motion.monaco-workbench.mac.chromium.nopanel.noauxiliarybar.macos-bigsur-or-newer.vs-dark.undefined_publisher-aventura-themes-aventura-zen-json
  .monaco-workbench
  .part.sidebar
  .title-actions
  .actions-container {
  justify-content: flex-end;
  color: #898c90 !important;
  height: 100% !important;
}

body
  > div.file-icons-enabled.enable-motion.monaco-workbench.mac.chromium.macos-bigsur-or-newer.monaco-font-aliasing-auto.vs-dark.undefined_publisher-aventura-themes-aventura-zen-json.border.nopanel.nostatusbar
  > div.monaco-grid-view
  > div
  > div
  > div.monaco-scrollable-element.mac
  > div.split-view-container
  > div:nth-child(1) {
  display: none;
}

.monaco-split-view2.horizontal
  > .monaco-scrollable-element
  > .split-view-container
  > .split-view-view {
  display: flex !important;
}

.mac:not(:has(.editor)) {
  font-family: 'SF Pro Display' !important;
  font-weight: 500 !important;
  font-size: 13px !important;
  color: #f8fdfe;
}

body
  .monaco-grid-view
  > div
  > div
  > div.monaco-scrollable-element.mac
  > div.split-view-container
  > div:nth-child(1) {
  top: 0 !important;
  height: 0 !important;
}

body
  .monaco-grid-view
  > div
  > div
  > div.monaco-scrollable-element.mac
  > div.split-view-container
  > div:nth-child(3) {
  height: 100% !important;
  top: 0 !important;
}
