* {
  -webkit-font-smoothing: antialiased !important;
  cursor: default !important;
}

html {
  position: relative !important;
  height: 100% !important;
  top: -35px !important;
}

.monaco-workbench.border.mac.macos-bigsur-or-newer {
  border-radius: unset !important;
}

#monaco-parts-splash {
  height: 100vh !important;
  width: 100vw !important;
  border-radius: unset !important;
  --window-border-color: transparent !important;
}

.monaco-workbench.border.mac {
  border-radius: unset !important;
}

.monaco-workbench.border:not(.fullscreen) {
  border: unset !important;
}
/*
#workbench\.parts\.titlebar,
.monaco-workbench.mac .part.titlebar {
  height: 0 !important;
  display: none !important;
}

body .noauxiliarybar,
body .nopanel.noauxiliarybar,
body .nopanel {
  height: 100% !important;
  position: relative !important;
}

.monaco-split-view2.horizontal
  > .monaco-scrollable-element
  > .split-view-container
  > .split-view-view {
  display: flex !important;
} */

.mac:not(:has(.editor)) {
  font-family: 'SF Pro Display' !important;
  font-weight: 500 !important;
  font-size: 13px !important;
  color: #f8fdfe;
}
/*
body
  .monaco-grid-view
  > div
  > div
  > div.monaco-scrollable-element.mac
  > div.split-view-container
  > div:nth-child(1) {
  top: 0 !important;
  height: 0 !important;
}

body
  .monaco-grid-view
  > div
  > div
  > div.monaco-scrollable-element.mac
  > div.split-view-container
  > div:nth-child(3) {
  height: 100% !important;
  top: 0 !important;
} */
