.monaco-editor .margin-view-overlays .line-numbers {
  position: absolute;
  letter-spacing: -1.2px;
  font-family: 'MonoLisa Custom';
  text-align: right;
  font-variant-numeric: oldstyle-nums;
  vertical-align: middle;
  box-sizing: border-box;
  cursor: default;
  font-weight: 550;
  height: 100%;
  font-size: 14.2px;
  font-kerning: none;
  font-variant: slashed-zero;
}

.monaco-editor .relative-current-line-number {
  text-align: unset !important;
}

.dirty-diff-glyph.dirty-diff-added {
  opacity: 0.9 !important;
  outline-style: solid;
  border-radius: 0.5px;
  width: 2px !important;
  outline-color: #83edb8;
  background-color: #83edb8;
  left: -9px !important;
}

.dirty-diff-glyph.dirty-diff-modified {
  opacity: 0.9 !important;
  outline-style: solid;
  border-radius: 0.5px;
  width: 2px !important;
  outline-color: #85bcec;
  background-color: #85bcec;
  left: -9px !important;
}

.cldr.dirty-diff-glyph.dirty-diff-deleted {
  outline-color: #ff626c;
  position: absolute;
  top: 10px;
  margin-left: -29px !important;
}

.monaco-editor .margin-view-overlays .dirty-diff-glyph:hover {
  width: 0 !important;
  left: -10px !important;
}

.dirty-diff-glyph:hover .dirty-diff-added:before,
.cldr.dirty-diff-glyph.dirty-diff-added:before {
  content: '##';
  position: relative !important;
  left: -10px !important;
  color: transparent;
  font-size: 15px;
  font-weight: 900;
  display: flex;
  text-shadow: 0px 0px 20px #68dda2d0;
}

.dirty-diff-glyph:hover .dirty-diff-modified:before,
.cldr.dirty-diff-glyph.dirty-diff-modified:before {
  content: '##';
  position: relative !important;
  left: -10px !important;
  color: transparent;
  font-size: 15px;
  font-weight: 900;
  display: flex;
  text-shadow: 0px 0px 20px #73b7f1c0;
}


.cldr.dirty-diff-glyph.dirty-diff-deleted:before,
.dirty-diff-glyph:hover.dirty-diff-deleted:before {
  content: '##';
  position: relative !important;
  left: -15px !important;
  top: 50% !important;
  color: transparent;
  font-size: 15px;
  font-weight: 900;
  display: flex;
  text-shadow: 0px 0px 20px #e9505ae0;
}

