/* statusbar */

#workbench\.parts\.statusbar {
  outline: 1px solid #1c1c1c;
  background-color: #1c1c1c !important;
  --status-border-top-color: #363636 !important;
  box-shadow: 0px -1px 0 -1px black;
  bottom: 22px !important;
}

.monaco-workbench .part.statusbar > .items-container > .statusbar-item {
  margin: 0;
}

#status\.problems > a {
  margin-left: unset;
}

.codicon-error,
.codicon-warning {
  opacity: 0.7;
}

.codicon-error:before {
  content: '\ea87';
  color: #ef5a69;
}

.codicon-warning:before {
  color: #e99e58;
  content: '\ea6c';
}

div.split-view-container > div:has(.statusbar) {
  height: 31px !important;
  top: unset !important;
  font-size: 11px !important;
  bottom: 0;
}

footer#workbench\.parts\.statusbar {
  height: 31px !important;
  font-size: 12px !important;
  font-weight: 600 !important;
  position: absolute !important;
  --window-border-color: #363636;
}
