.tabs-border-bottom
  > div.editor-actions
  > div
  > div
  > ul
  > li:nth-child(3)
  > div
  > div
  > a:before {
  content: '\ebeb';
}

.monaco-workbench
  .part.editor
  > .content
  .editor-group-container
  > .title
  .tabs-container
  > .tab.sizing-fixed
  .tab-label,
.monaco-workbench
  .part.editor
  > .content
  .editor-group-container
  > .title
  .tabs-container
  > .tab.sizing-shrink
  .tab-label {
  display: flex;
  justify-content: space-evenly;
}

.monaco-workbench
  .part.editor
  > .content
  .editor-group-container
  > .title
  .tabs-container {
  height: 34px !important;
  margin-left: 75px !important;
  border-left: 1px solid #242424 !important;
}

.tab {
  padding: 0 10px !important;
  padding-bottom: 1px;
  font-size: 12px !important;
}

.tab > .tab-actions .action-label.codicon {
  margin-top: 3px;
  margin-right: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0 !important;
}

.monaco-workbench
  .part.editor
  > .content
  .editor-group-container
  > .title
  .tabs-container
  > .tab:before {
  left: 22px;
}

.monaco-workbench
  .part.editor
  > .content
  .editor-group-container
  > .title
  .tabs-container
  > .tab.tab-actions-left {
  flex-direction: row-reverse;
  padding-left: 0;
  padding-right: 20px;
}

.tab > .tab-actions,
.tab > .tab-actions > .monaco-action-bar {
  width: 20px !important;
}

.tabs li.action-item.menu-entry:nth-child(1),
.tabs li.action-item.menu-entry:nth-child(2) {
  position: absolute;
  top: 32px;
  overflow: visible !important;
  width: 0;
  left: 4px;
}

.tabs li.action-item.menu-entry:nth-child(2) {
  left: 24px;
}

.monaco-workbench
  .part.editor
  > .content
  .editor-group-container
  > .title
  .tabs-container
  > .tab
  .tab-label
  a,
.monaco-workbench
  .part.editor
  > .content
  .editor-group-container
  > .title
  .title-label
  a {
  font-size: 12px !important;
}
