@media (prefers-color-scheme: light) {
    div#tabs {
        --tabs-border-bottom-color: #e6e6e6 !important;
    }

    .title.tabs.show-file-icons.title-border-bottom {
        --title-border-bottom-color: #e6e6e6 !important;
    }

    .title.title-border-bottom {
        background-color: #f6f6f6 !important;
    }

    .tab {
        border-right: 1px solid #dfdfdf !important;
        background-color: #f6f6f6 !important;
        color: #282828 !important;
    }
}

@media (prefers-color-scheme: dark) {
    .tabs-and-actions-container > .monaco-scrollable-element {
        border-left: 1px solid #111111;
    }

    .tab {
        border-right: 1px solid #1d1d1d !important;
    }

    .tab.active {
        background-color: #2a2a2a !important;
    }

    .tabs-container {
        border-left: unset !important;
    }

    .title.tabs.show-file-icons,
    .title.tabs.show-file-icons.title-border-bottom {
        --title-border-bottom-color: #363636 !important;
    }
}

.title:has(.editor-container) {
    content: '|';
    display: block;
    width: 75px;
    position: relative;
    left: 0;
    color: transparent;
}

.tabs-and-actions-container > .monaco-scrollable-element {
    margin-left: -1px;
}

.tab.tab-actions-off.sizing-fixed.has-icon.tab-border-bottom.tab-border-top.dirty.active {
    --tab-border-bottom-color: unset !important;
}

.tab-label > .monaco-icon-label-container::after {
    display: none !important;
}

.monaco-workbench
    .part.editor
    > .content
    .editor-group-container
    > .title
    .editor-actions {
    outline: none !important;
}

.monaco-workbench
    .part.editor
    > .content
    .editor-group-container
    > .title
    .tabs-container
    > .tab
    > .tab-actions,
.monaco-workbench
    .part.editor
    > .content
    .editor-group-container
    > .title
    .tabs-container
    > .tab.sizing-fixed.tab-actions-off:after {
    width: 0 !important;
}

.tabs-border-bottom
    > div.editor-actions
    > div
    > div
    > ul
    > li:nth-child(3)
    > div
    > div
    > a:before {
    content: '\ebeb';
}

.monaco-workbench
    .part.editor
    > .content:not(.dragged-over)
    .editor-group-container.active
    > .title
    .tabs-container
    > .tab.sizing-fixed.active:not(.dragged):not(.sticky-compact)
    > .tab-label
    > .monaco-icon-label-container::after {
    display: none;
}

.title .tabs-container .tab-label {
    gap: 6px;
    display: flex;
    justify-content: center;
}

.monaco-workbench
    .part.editor
    > .content
    .editor-group-container
    > .title
    .tabs-container {
    height: 34px !important;
}

.tab {
    padding: 0 10px !important;
    padding-bottom: 1px;
    font-size: 12px !important;
}

.tab > .tab-actions .action-label.codicon {
    margin-top: 3px;
    margin-right: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0 !important;
}

.monaco-workbench
    .part.editor
    > .content
    .editor-group-container
    > .title
    .tabs-container
    > .tab:before {
    left: 22px;
}

.monaco-workbench
    .part.editor
    > .content
    .editor-group-container
    > .title
    .tabs-container
    > .tab.tab-actions-left {
    flex-direction: row-reverse;
    padding-left: 0;
    padding-right: 20px;
}

.tabs li.action-item.menu-entry:nth-child(1),
.tabs li.action-item.menu-entry:nth-child(2) {
    position: absolute;
    top: 32px;
    overflow: visible !important;
    width: 0;
    left: 4px;
}

.tabs li.action-item.menu-entry:nth-child(2) {
    left: 24px;
}

.monaco-workbench
    .part.editor
    > .content
    .editor-group-container
    > .title
    .tabs-container
    > .tab
    .tab-label
    a,
.monaco-workbench
    .part.editor
    > .content
    .editor-group-container
    > .title
    .title-label
    a {
    font-size: 12px !important;
}
