body
  > div.file-icons-enabled.border.enable-motion.monaco-workbench.mac.chromium.nopanel.nostatusbar.macos-bigsur-or-newer.vs-dark.undefined_publisher-aventura-themes-aventura-dark-zen-json
  > div.monaco-grid-view
  > div
  > div
  > div.monaco-scrollable-element.mac
  > div.split-view-container
  > div:nth-child(1) {
  display: none;
}

titlebar
  body
  > div.file-icons-enabled.border.enable-motion.monaco-workbench.mac.chromium.nopanel.nostatusbar.macos-bigsur-or-newer.vs-dark.undefined_publisher-aventura-themes-aventura-borealis-json
  > div.monaco-grid-view
  > div
  > div
  > div.monaco-scrollable-element.mac
  > div.split-view-container
  > div:nth-child(1) {
  z-index: 100;
}

.titlebar-left {
  display: none !important;
}

.titlebar-center {
  height: 28px !important;
}

.window-title {
  padding-left: 8px;
  font-size: 14px !important;
  font-family: 'SF Pro Display';
  font-weight: 600;
  color: #dbdedf;
  margin-left: 8px !important;
}

div#status\.scm\.0 {
  font-size: 12px;
  font-weight: 400;
  height: auto;
  line-height: 1;
}

pan.codicon.codicon-git-branch {
  position: absolute;
  margin-left: -24px;
  margin-top: -9px;
  font-size: 19px !important;
  font-weight: 500;
}

div#workbench\.parts\.titlebar {
  border-bottom: unset !important;
}

@media (prefers-color-scheme: dark) {
  div#workbench\.parts\.titlebar {
    background-color: #373737 !important;
    border-left: 1px solid #111111;
  }

  .monaco-workbench .part > .title {
    border-bottom: 1px solid #ffffff0f;
  }

  .monaco-workbench .part.titlebar > .titlebar-container {
    border-bottom: 1px solid #111111;
  }
}

@media (prefers-color-scheme: light) {
  div#workbench\.parts\.titlebar {
    background-color: #f0f0f0 !important;
    border-left: 1px solid #757575;
  }
}

.monaco-workbench .part > .title {
  height: 28px;
}

.monaco-workbench .part > .title > .title-label h2 {
  display: flex;
  align-items: center;
  height: 27px;
}
.part.titlebar {
  height: 28px !important;
  z-index: 50;
}

.command-center > span.search-label {
  line-height: 21px;
  font-size: 12.5px;
  font-weight: 500;
}

.monaco-workbench
  .part.titlebar
  > .titlebar-container
  > .titlebar-center
  > .window-title
  > .command-center
  .action-item.command-center {
  border: unset !important;
}

#workbench\.parts\.panel > div.composite.title:has(.sidebar) {
  border-bottom: unset !important;
  height: 28px !important;
}

.monaco-workbench .part > .composite.title > .title-actions:has(.sidebar) {
  flex: 1;
  padding-left: unset !important;
  position: relative !important;
  width: 0px !important;
  overflow: hidden;
}

.monaco-workbench .part.titlebar > .titlebar-container > .titlebar-center {
  margin: 0 auto;
}

.monaco-tree-type-filter-grab.codicon.codicon-debug-gripper {
  display: none !important;
}

.split-view-container {
  overflow: visible !important;
}

.monaco-scrollable-element.mac {
  overflow: visible !important;
}

.composite-bar.panel-switcher-container {
  width: 100% !important;
}

li.action-item.icon {
  padding: unset !important;
  font-size: 10px !important;
}

.monaco-workbench
  .part.basepanel
  > .composite.title
  > .panel-switcher-container
  > .monaco-action-bar:has(.sidebar) {
  line-height: 27px;
  height: 27px;
}

.global-actions {
  display: none;
}
